# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

numpy
pandas
scikit-learn

pip freeze > requirements.txt
git add requirements.txt
git commit -m "Add requirements.txt"
git push
